<div class="stopwatch">
  <div class="time">
    <div class="min">{{minutes}}</div>
    <div class="sec">{{seconds}}</div>
    <div class="mlsec">{{mlseconds}}</div>
  </div>
  <div class="controls">
    <button md-fab (click)="startTimer()" *ngIf="showStart; else lapBtn" class="btn-start btn-stopwatch" #startBtn>Start</button>
    <button md-fab (click)="lapTimer()" *ngIf="!showStart; else startBtn" class="btn-lap btn-stopwatch" #lapBtn>Lap</button>
    <button md-fab (click)="pauseTimer()" class="btn-pause btn-stopwatch">Pause</button>
    <button md-fab (click)="resertTimer()" class="btn-reset btn-stopwatch">Reset</button>
  </div>
  <div class="result-table">
    <div class="head">
      <div class="total-time">Total time</div>
      <div class="lap-time">Lap time</div>
      <div class="avg-lap">Average lap</div>
      <div class="prev-diff">Diff vs prev</div>
    </div>
    <div *ngFor='let item of stopwatchHistory'>
      <div class="result-item">
        <div class="total-time">{{item.total}}</div>
        <div class="lap-time">{{item.lap}}</div>
        <div class="avg-lap">{{item.avg}}</div>
        <div class="prev-diff">{{item.diff}}</div>
      </div>
    </div>
  </div>
</div>