<div class="stopwatch">
  <div class="time">
    <div class="min">{{minutes}}</div>
    <div class="sec">{{seconds}}</div>
    <div class="mlsec">{{mlseconds}}</div>
  </div>
  <div class="controls">
    <button md-fab (click)="startTimer()" *ngIf="showStart; else lapBtn" class="btn-start btn-stopwatch" #startBtn>Start</button>
    <button md-fab (click)="lapTimer()" *ngIf="!showStart; else startBtn" class="btn-lap btn-stopwatch" #lapBtn>Lap</button>
    <button md-fab (click)="pauseTimer()" class="btn-pause btn-stopwatch">Pause</button>
    <button md-fab (click)="resertTimer()" class="btn-reset btn-stopwatch">Reset</button>
  </div>
  <div class="result-table">
    <div class="head">
      <div>№</div>
      <div>Total time</div>
      <div>Lap time</div>
      <div>Diff vs prev</div>
      <div>Average lap</div>
      <div>Diff vs avg</div>
    </div>
    <div *ngFor='let item of stopwatchHistory; let i = index'>
      <div class="result-item">
        <div>{{i+1}}</div>
        <div>{{item.total}}</div>
        <div>{{item.lap}}</div>
        <div class="{{item.diffColor}}">{{item.diff}}</div>
        <div>{{item.avg}}</div>
        <div class="{{item.avgDiffColor}}">{{item.avgDiff}}</div>
      </div>
    </div>

  </div>
</div>